body {
    background-color: rgb(43, 142, 222);
    background-image: url(./img/wall.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    text-align: center;
    padding: 25px;
}

.stat-box {
    width: 100px;
    height: 160px;    
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.609);
}

.num-box {
    position: relative;
    height: 50px;
    width: 50px;
    font-size: 24px;
    text-align: center;
    border-radius: 10px; 
}



.button {
    position: relative;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: rgb(243, 50, 50);
    color: white;
    -webkit-text-stroke: .05px black;
    width: 100px;
    margin: 25px 12px;
    box-shadow: 0px 0px 1.5px 1.5px rgb(0, 0, 0);
}

.button:hover {
    background-color: aqua;
    color: black;
    cursor: pointer;
}

.mod-box {
    width: 25px;
    text-align: center;
    border-radius: 15px;
    margin: 5px;
}

.mod-word {
    margin-top: 20px;
    margin-bottom: 2px;
}

#sheet-container {
    height: auto;
    margin: 50px;
    background-image: url(./img/parchment.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#ability-container {
    width: 125px;
    height: 1150px;
    margin-left: 10px;
    margin-bottom: 10px; 
}

#mod {
    font-size: 14px;
    text-align: center;
}

/*Grid Container*/

.grid-container {
    display: grid;
    grid-template-columns: 3, .5fr, .5fr;
    
}

.header {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 75px;
    grid-row: 1;
    height: 125px;
    width: auto;
    margin: 15px;
}

#head {
    grid-row: 1;
    grid-column: span 3;
}

#head-name {
    grid-column: 1;
    grid-row: 2;
}

#head-class {
    grid-column: 2;
    grid-row: 2;
}

#head-race {
    grid-column: 3;
    grid-row: 2;
}

#head-name, #head-class, #head-race {
    background-color: rgba(252, 252, 252, 0.53);
    height: 22px;
    width:42px;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 3px;
}